PROJECT_NAME = AquaGuard

Database__Host=
Database__Port=5432
Database__Name=postgres
Database__User=postgres
Database__Password = 

Jwt__SecretKey=
Jwt__Issuer=
Jwt__Audience=
Jwt__ExpirationMinutes=

Google__Credentials=./service-account.json
Google__EarthEngineProjectId=